%footer.page-footer.font-small.bg-dark
  .container.text-center.text-md-left
    .row
      %hr.clearfix.w-100.d-md-none/
      .col-md-2.mx-auto
        %h5.font-weight-bold.mt-3.mb-4
      .col-md-4.mx-auto
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4
        %p
        / Grid column
      %hr.clearfix.w-100.d-md-none
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.mt-3.mb-4.align-content-center

  %img.img-fluid{:alt => "", :src => "assets/footer.png"}
  .footer-copyright.footer_copyright Copyright © Netguru 2018

  / Copyright
/ Footer

