%footer.page-footer.font-small.bg-dark
  .container.text-center.text-md-left
    .row
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Links
        %ul.list-unstyled
          %li.logo_list
            = render 'shared/logo'
      / Grid column
      .col-md-4.mx-auto
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Footer Content
        %p
          Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet,
          consectetur
          adipisicing elit.
      / Grid column
      %hr.clearfix.w-100.d-md-none
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.mt-3.mb-4 Links
        %ul.list-unstyled
          %li
            %a.btn-floating.btn-fb.mx-1
        = link_to "https://github.com/katguz3485/krk-18-yoda" do
          %span.accent.fa.fa-github{"aria-label" => "github"}
  %img.img-fluid{:alt => "", :src => "assets/footer.png"}
  .footer-copyright.footer_copyright Copyright © Netguru 2018

  / Copyright
/ Footer

