%h1 Listing buckets
-breadcrumb :buckets, bucket
%table.table.table-hover
  %thead
    %tr
      %th= t('buckets.columns.name')
      %th= t('shared.actions.actions')
  %tbody
    =render buckets
%br/
= link_to t('shared.add_new_item'), new_bucket_path, class: 'btn btn-success'


